{% extends 'devices/base.html' %}

{% block content %}

<div class="container">
	<form method="POST">
		{% csrf_token %}
		<h6 style="color: #f5f5f5">Username{{ form.username }}</h6>
		<h6 style="color: #f5f5f5">Password{{ form.password }}</h6>
		<button class="btn btn-outline-info blue darken-2 hoverable" type="submit">Login</button>
	</form>
	<!--Don't have an account? <a href="/register" target="blank"><strong>register here</strong></a>!-->
</div>

{% endblock %}
