{% extends 'devices/base.html' %}
{% load static %}
{% block content %}

<h1 class="center" style="color:#f5f5f5;">Notes</h1>
{% for post in posts %}
<div class="card hoverable" style="background-color:#cfd8dc">
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4 center">{{ post.title }}<i class="material-icons right hoverable">unfold_more</i></span>
    <h6 style="font-size:100%;">Published by: {{ post.author }}</h6>
    <h6 style="font-size:100%;">Created on: {{ post.created_date }}</h6>
    <h6 style="font-size:100%;">Updated On: {{ post.published_date }}</h6>
  </div>
  
  <div class="card-reveal" style="background-color:#cfd8dc">
    <span class="card-title grey-text text-darken-4">{{ post.title }}<i class="material-icons right hoverable">close</i></span>
    <blockquote><p style="color:#6a1b9a">{{ post.content|linebreaksbr }}</p></blockquote>
    {% if user.is_authenticated and user == post.author %}
    <a class="waves-effect waves-light btn-small right" href="{% url 'post_detail' pk=post.pk %}"><i class="material-icons">mode_edit</i></a>
    {% endif %}
  </div>
</div>
{% endfor %}

{% endblock %}
