{% extends 'devices/base.html' %}

<body>
{% block content %}



<!--<div class="content">
  <div class="body hoverable  mb-4">
    <div class="col s12 m4">
      <div class="card" style="display:run-in;">
        <div class="card-image black">
          <img src="https://raw.githubusercontent.com/ShreehariVaasishta/awesome-django/master/pic1.jpg">
          <span class="card-title" style="height:8%; width:100%; background: black;">SRT phone</span>
        </div>
        <div class="card-content black">
          {% for r in rimo02a %}
          <a class="waves-effect waves-light btn blue" href="{{r}}"><i class="material-icons left">arrow_downward</i>Download</a>{% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>-->


    {% for post in posts %}
    <div class="content">
  <div class="card hoverable">
    <div class="card-image">
      <img class="activator" src="{{ post.image_url }}">
    </div>
    <div class="card-content black">
      <span class="card-title activator grey-text text-darken-4"><b><font color="#ed1515">{{ post.title }}<i class="material-icons right">more_vert</i></font></b></span>
      <h6 style="font-size:100%;"><font color="#1c03fc">Posted by:{{ post.author }}</font></h6>
      <h6 style="font-size:100%;">Published On:{{ post.published_date }}</h6>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{ post.title }}<i class="material-icons right">close</i></span>
      <blockquote><p>{{ post.text|linebreaksbr }}</p></blockquote>
          {% if user.is_authenticated and user == post.author %}
    <a class="waves-effect waves-light btn-large right" href="{% url 'post_detail' pk=post.pk %}"><i class="material-icons">brush</i></a>
            <div class="card-content">
          {% for r in rimo02a %}
          <a class="waves-effect waves-light btn blue" href="{{r}}"><i class="material-icons">arrow_downward</i>Download</a>{% endfor %}
        </div>
     {% endif %}
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}   
</body>
    